

<h1>"******** Now your result ********"</h1>



<p>Your word: <%= @user_input %></p>
<p>Time Taken to answer: <%=  @result[:time]%></p>
<p>Your score: <%=  @result[:score]%></p>
<p>Message: <%=  @result[:message]%></p>

<p> "*****************************************************"</p>


